abd-utility-test/src/main/resources/wsdl/dax/WSCoreReceiveSipService.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><xs:schema xmlns:tns="http://sip.receive.core.iris.eng.it" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://sip.receive.core.iris.eng.it">

<xs:import namespace="http://www.w3.org/2005/05/xmlmime" schemaLocation="../xmlmime.xml" />
<xs:element name="receiveSip" type="tns:receiveSip" />

<xs:element name="receiveSipResponse" type="tns:receiveSipResponse" />

<xs:element name="sipReceiveRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="tipoSip" type="xs:string" />
<xs:element name="tipoProtezione" type="xs:string" />
<xs:element name="improntaAlgoritmo" type="xs:string" />
<xs:element name="improntaCodifica" type="xs:string" />
<xs:element name="impronta" type="xs:string" />
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="sipReceiveResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="serviceReturn" type="tns:wsGenericServiceOutput" />
<xs:element name="idSip" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:complexType name="receiveSip">
<xs:sequence>
<xs:element name="sipReceive" form="qualified" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="tipoSip" type="xs:string" />
<xs:element name="tipoProtezione" type="xs:string" />
<xs:element name="improntaAlgoritmo" type="xs:string" />
<xs:element name="improntaCodifica" type="xs:string" />
<xs:element name="impronta" type="xs:string" />
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="arg1" type="tns:attachment" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="attachment">
<xs:sequence>
<xs:element name="dh" xmime:expectedContentTypes="application/octet-stream" type="xs:base64Binary" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="receiveSipResponse">
<xs:sequence>
<xs:element ref="tns:sipReceiveResponse" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="wsGenericServiceOutput">
<xs:sequence>
<xs:element name="codEsito" type="xs:int" />
<xs:element name="desEsito" type="xs:string" minOccurs="0" />
<xs:element name="errCode" type="xs:int" />
<xs:element name="errContext" type="xs:string" minOccurs="0" />
<xs:element name="errMessage" type="xs:string" minOccurs="0" />
<xs:element name="warnMessage" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>